@model ExamControl.Models.Exam.InsertExamModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


<h2>Aanmaken tentamen</h2>

<div class="row">
    <div class="col-sm">
        @using (Html.BeginForm("InsertExam", "Exam", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedExamSubject)
                @Html.DropDownListFor(m => m.SelectedExamSubject, ViewBag.ExamSubjects as IEnumerable<SelectListItem>, "Selecteer vak...", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SelectedExamSubject)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EstimatedAmountOfStudents)
                @Html.TextBoxFor(m => m.EstimatedAmountOfStudents, new { @class = "form-control", placeholder = "voer getal in" })
                @Html.ValidationMessageFor(m => m.EstimatedAmountOfStudents)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExamDuration)
                @Html.TextBoxFor(m => m.ExamDuration, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ExamDuration)
            </div>
            <div class="form-check">
                @Html.CheckBoxFor(m => m.ExamSurveillantAvailable, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.ExamSurveillantAvailable)
                @Html.ValidationMessageFor(m => m.ExamSurveillantAvailable)
            </div>
            <div class="form-check">
                @Html.CheckBoxFor(m => m.ExamNeedsComputers, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.ExamNeedsComputers)
                @Html.ValidationMessageFor(m => m.ExamNeedsComputers)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.File)
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                @Html.ValidationMessageFor(m => m.File)
            </div>
            <div class="float-right btnContainer">
                <button class="btn btn-secondary">terug</button>
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        }
    </div>
</div>