@model ExamControl.Models.Plan.IndexModel

@{
    ViewBag.Title = "Plannen";
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery.unobtrusive")
}

<h1>Tentamens inplannen</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vak</th>
            <th scope="col"> Computerlokaal benodigd</th>
            <th scope="col"> Aantal studenten</th>
            <th scope="col">Duur</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbodyUpdatable">
        @foreach (var row in Model.Exams)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(m => row.Id)</th>
                <td> @Html.DisplayFor(m => row.SubjectName) </td>
                <td> @Html.DisplayFor(m => row.NeedsComputers) </td>
                <td> @Html.DisplayFor(m => row.EstimatedAmountOfStudents) </td>
                <td> @Html.DisplayFor(m => row.Duration) </td>
                <td><a class="btn btn-primary" href="~/Plan/Exams/@row.Id">Plan</a></td>
            </tr>
        }
    </tbody>
</table>
