<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - ExamControl - Hogeschool Uithuizermeeden</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h1>ExamControl - Hogeschool Uithuizermeeden</h1>
        <nav class="nav">
            @if (CurrentUser.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })

                @Html.ActionLink("Log Out", "LogOut", "Auth", null, new { @class = "nav-link" })
            }
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Avans - 22INF2A - IDH7 - A5</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
